/* ===== FONTE ===== */
@font-face {
  font-family: 'LifeCraft';
  src: url('../fonts/LifeCraft.ttf') format('truetype');
}

/* ===== GLOBAL ===== */
body {
  background-color: #020617;
  font-family: 'LifeCraft', serif;
  color: #e5e7eb;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 35px;
}

h2 {
  color: #facc15;
  margin-bottom: 25px;
  font-size: 30px;
  letter-spacing: 1px;
}

p {
  margin-bottom: 20px;
  line-height: 1.7;
  font-size: 20px;
  color: #d1d5db;
}

a {
  color: #facc15;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}

a:hover {
  color: white;

}

footer {
  background-color: #facc15;
  color: #4a0e0e;
  text-align: center;
  padding: 2.5%;
}

/* ===== HEADER ===== */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;

  background-color: rgb(30, 30, 30);
  color: #facc15;

  gap: 8px;
  z-index: 1000;
}

/* ===== MENU ===== */
.menu {
  display: flex;
  gap: 20px;
}

/* ===== INDEX ===== */
.container img {
  margin-top: 75px;
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container2 img {
  width: 100%;
  max-width: 600px;
}

.container {
  text-align: center;
}

.container2 {
  text-align: center;
  margin: 0 100px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

/* ===== SOBRE ===== */
#sobre {
  padding: 120px 20px 60px;
}

#sobre .conteudo {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#sobre strong {
  color: #facc15;
}

/* ===== PRODUTOS ===== */
#produtos {
  text-align: center;
  margin: 0 15px;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 25px;
}

.card-produto {
  width: 500px;
  padding: 25px;
  border: 5px solid #8b6d2d;
  text-align: center;
  background-color: #0b1220;
  border-radius: 8px;
}

.card-produto img {
  width: 100%;
  height: auto;
}

.card-produto img.coin {
  width: 16px;
  height: auto;
  vertical-align: middle;
}

.card-produto button {
  background-color: #4a0e0e;
  color: #facc15;
  border: 2px solid #8b6d2d;
  padding: 10px 20px;
  font-family: 'LifeCraft','Georgia', serif;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 0 5px #000, 2px 2px 5px rgba(0,0,0,0.5);
  transition: 0.5s;
  border-radius: 4px;
  width: 50%;
}

.card-produto button:hover {
  background-color: #631212;
  border-color: #ffd700;
  color: #fff;
  box-shadow: 0 0 10px #ffd700;
}